body {
    margin: 0;
    padding: 0;
}
.ListHairDressers {
    margin: 0 20px;
    padding: 0;
}
.DivHairDresser {
    border: 1px solid black;
    margin: 0 0 20px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.DivInfos {
    margin: 0 0 0 20px;
}
.DivIndex {
    font-size: 75px;
    align-content: center;
}
.pIndex {
    margin: 0;
    padding: 0;
    font-size: 120px;
    color: grey;
}